* {
    box-sizing: border-box;
    background-color: #f8f4f6;
}

h1 {
    font-size: 4em;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.5em;
}

p {font-size:1.25em;}
.color-acento{color:#9e3a74;}
button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
}
.cursiva{
   font-style: italic;
}
body {
    font-family: "roboto", sans-serif;
    margin: 0%;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header{
    background-color:transparent;
    
}
header .nombre{
    margin: 0;
    padding: 15px 3px;
    font-weight: bold;
    color:#9e3a74;
    font-size: 1.55em;
}
header .container{
    
    display:flex ;
    flex-direction: column;
    align-items: center;


}
header nav{
display: flex;
flex-direction: column;
text-align: center;
padding-bottom: 25px;
}
header a{
    padding: 3px;
text-decoration: none;
font-weight: bold;
color: black;
}
header a:hover{
    color:#722954;

}
#quiensomos .container{    
    text-align: center,center;
  padding: 80px 12px;
}
footer p{
    margin: 0;
    color: 100,100,100;
    padding: 12px;

}
footer{
    background-color:transparent;

}
footer .container{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width:600px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
      
   display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
  
    .header nav{
        display: flex;
        flex-direction: row;
        padding-bottom:  0;   
        padding: 2px 4px;
        padding-right: 20px;
        
    }
   
   

    #quiensomos .container{

        display: flex;
        justify-content: space-evenly;
    }
    #quiensomos .texto{
        width: 50%;
        max-width: 600px;
        text-align: center;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #quiensomos .fotito{
        background-image: url("img/logo.jpg");
        background-size: cover;
        background-position: center center;
        width: 525px ;
        height: 525px;
        border-radius: 150%;
       

    }
}